/*
 * Disposition
 * -----------
 *
 * L’application est conçue pour petits écrans, donc même sur PC on limite la
 * largeure. Les marges aussi doivent être modérées. Le contenu est limité,
 * donc la police est grande.
 *
 * L’en-tête partage le h1 et les boutons d’actions globales, d’où la flexbox.
 *
 */

body {
	font-size: 18px;
	font-family: sans-serif;
	max-width: 600px;
	padding: 0.5em 0;
	margin: auto;
}

header {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin: 0 0.5em;
}

header h1 {
	flex-grow: 1;
	margin: 0;
}

/*
 * Boutons
 * -------
 *
 * Pour que l’application soit conviviable sur écran tactile, on veut que les
 * boutons soient gros et ronds. Comme le gris est moche, on personnalise aussi
 * les couleurs.
 *
 */

input, button {
	font-size: 1em;
	padding: 0.5em;
	border-color: darkgray;
	border-width: 0 0 0.1em 0;
	color: black;
	background-color: white;
	font-weight: normal;
}

button:hover {
	background-color: gainsboro;
}

button.icon {
	display: inline-flex;
	align-items: center;
	border-radius: 500px;
}

button.icon svg {
	height: 1.5em;
}

button.icon span {
	padding: 0.1em 0.2em;
}

button.primary {
	background-color: forestgreen;
	color: white;
	fill: white;
}

button.primary:hover:not(:disabled) {
	background-color: darkgreen;
}

button:disabled {
	background-color: gainsboro;
	color: gray;
	fill: gray;
}

/*
 * Formulaires
 * -----------
 *
 * Le style des tables est partagé avec l’historique.
 *
 * Les catégories apparaissent tant sur le formulaire principal que sur la
 * modale des factures. L’enfant direct de .categories peut être tant des
 * labels avec un bouton radio que des boutons.
 *
 */

table {
	width: 100%;
	border-spacing: 0.5em;
}

th, td {
	white-space: nowrap;
}

#entry td:has(> input) {
	display: flex;
	gap: 0.5em;
}

#entry td > input {
	flex-grow: 1;
}

.categories {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;
	margin: 0.5em 0;
}

.categories > * {
	flex-grow: 1;
	text-align: center;
	white-space: nowrap;
	border-radius: 0.5em;
	padding: 0.5em;
}

.categories label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2em;
}

.categories label input {
	margin: 0;
}

.categories label:has(input:checked) {
	font-weight: bold;
}

.categories .expense {
	background-color: antiquewhite;
}

.categories .income, .categories .transfer {
	background-color: lavender;
}

.actions {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1em;
}

/*
 * Modales
 * -------
 */

dialog h2 {
	text-align: center;
	margin: 0;
}

#historyTable {
	margin: 0.5em 0;
}

#historyTable:empty::after {
	content: "空";
	display: block;
	color: gray;
	text-align: center;
}

#historyTable .withdrawn {
	color: gray;
}

/*
 * Avion
 * -----
 */

#openHistoryButton, #submitEntryButton {
	z-index: 2;
}

.plane {
	z-index: 1;
	margin: -0.5em;
	width: 1em;
	height: 1em;
	background-color: darkblue;
	border-radius: 100%;
	transition: 0.7s;
}
