body {
	font-size: 18px;
	font-family: sans-serif;
	max-width: 600px;
	padding: 0.5em 0;
	margin: auto;
}

header {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin: 0 0.5em;
}
header h1 {
	flex-grow: 1;
	margin: 0;
}

#picture-selector {
	display: none;
}

form table {
	width: 100%;
	border-spacing: 0.5em;
}
form th { white-space: nowrap; }
form td:has(> input) { display: flex; gap: 0.5em; }
form td > input { flex-grow: 1; }
form td > input[type="date"] + input[type="button"] { flex-grow: 0; }

input {
	font-size: 1em;
	padding: 0.5em;
	border-width: 0 0 .1em 0;
}

svg.button {
	padding: 0.5em;
	height: 1.6em;
	border-radius: 100%;
	background-color: gainsboro;
}

svg.button:hover, .categories label:hover {
	filter: brightness(107%);
}

svg.button.primary {
	background-color: forestgreen;
	fill: white;
}

svg.button.loading {
	background-color: darkblue;
	fill: white;
}

svg.button.error {
	background-color: darkred;
	fill: white;
}

.categories {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;
	margin: 0.5em 0;
}

.categories > * {
	flex-grow: 1;
	text-align: center;
	white-space: nowrap;
	border-radius: 0.5em;
	padding: 0.5em;
}

.categories label:has(input:checked) {
	font-weight: bold;
}

.categories input[type="radio"] {
	display: none;
}

.categories .expense { background-color: antiquewhite; }
.categories .income { background-color: lavender; }
.categories .transfer { background-color: lavender; }

div.actions {
	display: flex;
	justify-content: space-evenly;
}

dialog h2 {
	text-align: center;
	margin: 0;
}

#history-dialog table {
	margin: 0.5em 0;
	width: 100%;
}

#history-dialog table:empty::after {
	content: "空";
	display: block;
	color: gray;
	text-align: center;
}

#history-dialog td {
	padding: 0.2em 0.5em;
}

td.date, td.amount, td.actions {
	text-align: right;
}

.withdrawn { color: gray; }
.loading { color: darkblue; }
.success { color: darkgreen; }
.error { color: darkred; }
