body {
	font-size: 18px;
	font-family: sans-serif;
	max-width: 600px;
	padding: 0.5em 0;
	margin: auto;
}

header {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin: 0 0.5em;
}
header h1 {
	flex-grow: 1;
	margin: 0;
}

form table {
	width: 100%;
	border-spacing: 0.5em;
}

form th { white-space: nowrap; }
form td:has(> input) { display: flex; gap: 0.5em; }
form td > input { flex-grow: 1; }

input, button {
	font-size: 1em;
	padding: 0.5em;
	border-color: darkgray;
	border-width: 0 0 0.1em 0;
	color: black;
	background-color: white;
	font-weight: normal;
}

button:hover {
	background-color: gainsboro;
}

button:disabled {
	color: gray;
	background-color: white;
}

button.icon {
	border-radius: 100%;
}

button.icon svg {
	height: 1.6em;
	vertical-align: middle;
}

button.primary {
	background-color: forestgreen;
	fill: white;
}

button.primary:hover {
	background-color: darkgreen;
}

button.loading {
	background-color: darkblue;
	fill: white;
}

button.error {
	background-color: darkred;
	fill: white;
}

.categories {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em;
	margin: 0.5em 0;
}

.categories > * {
	flex-grow: 1;
	text-align: center;
	white-space: nowrap;
	border-radius: 0.5em;
	padding: 0.5em;
}

.categories label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2em;
}

.categories label input {
	margin: 0;
}

.categories label:has(input:checked) {
	font-weight: bold;
}

.categories .expense { background-color: antiquewhite; }
.categories .income { background-color: lavender; }
.categories .transfer { background-color: lavender; }

div.actions, form.actions {
	display: flex;
	justify-content: space-evenly;
	gap: 1em;
}

dialog h2 {
	text-align: center;
	margin: 0;
}

#historyDialog table {
	margin: 0.5em 0;
	width: 100%;
}

#historyDialog table:empty::after {
	content: "空";
	display: block;
	color: gray;
	text-align: center;
}

#historyDialog td {
	padding: 0.2em 0.5em;
	white-space: nowrap;
}

td.numeric, td.actions {
	text-align: right;
}

tr.withdrawn { color: gray; }
td.loading { color: darkblue; }
td.success { color: darkgreen; }
td.error { color: darkred; }

#openHistoryButton, #submitEntryButton {
	z-index: 2;
}

.plane {
	z-index: 1;
	margin: -0.5em;
	width: 1em;
	height: 1em;
	background-color: darkblue;
	border-radius: 100%;
	transition: 0.7s;
}
